/*****GENERAL*****/
html{
  height: 100%;
}
body{
  min-with: 400px;
  height: 100%;
  background: /*url("img/bg_body.png") no-repeat scroll center center*/ #E6E6E6;

  /*background: url("img/bg-gradient-sand.png") repeat-x scroll 0 0px, url("img/bg-sand.png") repeat scroll 0 0px, none repeat scroll 0 0 #F5F1E8;*/

  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  /*background: url("img/bullet.png");*/
}
a{
  color: #000000;
  text-decoration: none;
}
a:hover {
    transition: top 0.12s ease-out 0s;
}
h1{

}


/*****CONTAINER*****/
#container{
  display: flex;
  height: 100%;
  //background-image: url('../img/bullet.png')
}


/*****CONTENT*****/
#content{
  display: flex;
  align-items: center;
  justify-content: center;
}
#content a:hover{
}
/***MEDIA***/
@media (max-width: 600px) {
  body{
    min-width: 600px;
  }
}
