<header>

    <div id="header-content">

          <a class="logo-link" href="http://www.fedef.net"><div id="logo"></div></a>
          <div id="titolo">
            <h1><a href="http://www.fedef.net">fedef</a></h1>
          </div>
          <div class="colon">:</div>
          <div class="slash">//</div>
          <div id ="web">
            <h1>Web</h1>
          </div>
          <div class="slash">/</div>
          <div id="agency">
            <h1>Agency</h1>
          </div>
          <div id="motto">
              <h2><span>Siti web professionali &nbsp;&nbsp;</span><span class="su"><i class="icon-ruler"></i>su </span><span class="misura">misura <i class="icon-scissors"></i></span></h2>
          </div>

  </div>
</header>
