
<section id="left">
  <header>
    <a class="logo-link" href="./#home">
      <div id="logo"></div>
      <div id="nome">Federico Ferrari</div>
    </a>
  </header>
  <ul class="menu">
    <li><a href="#home">Home<span class="list-icon"></span></a></li>
    <li><a href="#portfolio">Siti<span class="list-icon"></span></a></li>
    <li><a href="#foto">Foto<span class="list-icon"></span></a></li>
  </ul>
  <footer>
    <ul id="contatti">
      <em>per preventivi gratuiti o informazioni</em>
      <li id="email">
        <p>
          <a href="mailto:info@fedef.net" title="mandami una email">email</a>
        </p>
        <p>info@fedef.net</p>
      </li>
      <li id ="tel">
        <p>Tel.</p>
        <p>3382067109</p>
      </li>
    </ul>
  </footer>
</section>
