
<section id="left">
  <header>
    <a class="logo-link" href="./index.html">
      <div id="logo"></div>
      <div id="nome">Federico Ferrari</div>
    </a>
  </header>
  <ul class="menu">
    <li><a href="index.html">Home</a></li>
    <li><a href="portfolio.html">Siti</a></li>
    <li><a href="foto.html">Foto</a></li>
  </ul>
  <footer>
    <ul id="contatti">
      <em>per preventivi gratuiti o informazioni</em>
      <li id="email">
        <a href="mailto:info@fed.ferrari@gmail.com" title="mandami una email">
          email
        </a>
      </li>
      <li id ="tel">
        Tel. <span>3382067109</span>
      </li>
    </ul>
  </footer>
</section>
