#left{
  position: fixed;
  width: 200px;
  height: 100%;
  min-width: 200px;
  text-align: right;
  background-color: #FFFFFF;
  //box-shadow: 2px 0 3px #aaaaaa;
  border-right: 3px solid #C3DCED;
  #logo{
    margin: 20px 20px 5px 20px;
    height: 160px;
    /* file size: 6.2ko | optimized file size: 6ko | base64 size: 8ko */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyAgIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIiAgIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIgICB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgICB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiICAgeG1sbnM6aW5rc2NhcGU9Imh0dHA6Ly93d3cuaW5rc2NhcGUub3JnL25hbWVzcGFjZXMvaW5rc2NhcGUiICAgd2lkdGg9IjI5MyIgICBoZWlnaHQ9IjI5NC4xNTAwMiIgICBpZD0ic3ZnMiIgICB2ZXJzaW9uPSIxLjEiICAgaW5rc2NhcGU6dmVyc2lvbj0iMC40OC40IHI5OTM5IiAgIHNvZGlwb2RpOmRvY25hbWU9ImZlZGVmLWEtMC4xLnN2ZyI+ICA8ZGVmcyAgICAgaWQ9ImRlZnM0IiAvPiAgPHNvZGlwb2RpOm5hbWVkdmlldyAgICAgaWQ9ImJhc2UiICAgICBwYWdlY29sb3I9IiNmZmZmZmYiICAgICBib3JkZXJjb2xvcj0iIzY2NjY2NiIgICAgIGJvcmRlcm9wYWNpdHk9IjEuMCIgICAgIGlua3NjYXBlOnBhZ2VvcGFjaXR5PSIwLjAiICAgICBpbmtzY2FwZTpwYWdlc2hhZG93PSIyIiAgICAgaW5rc2NhcGU6em9vbT0iMSIgICAgIGlua3NjYXBlOmN4PSIxNDkuOTYxODUiICAgICBpbmtzY2FwZTpjeT0iOTkuMzkyMzkiICAgICBpbmtzY2FwZTpkb2N1bWVudC11bml0cz0icHgiICAgICBpbmtzY2FwZTpjdXJyZW50LWxheWVyPSJsYXllcjMiICAgICBzaG93Z3JpZD0iZmFsc2UiICAgICBpbmtzY2FwZTp3aW5kb3ctd2lkdGg9IjE5MjAiICAgICBpbmtzY2FwZTp3aW5kb3ctaGVpZ2h0PSIxMDI4IiAgICAgaW5rc2NhcGU6d2luZG93LXg9IjE5MjAiICAgICBpbmtzY2FwZTp3aW5kb3cteT0iMCIgICAgIGlua3NjYXBlOndpbmRvdy1tYXhpbWl6ZWQ9IjEiICAgICBmaXQtbWFyZ2luLXRvcD0iMCIgICAgIGZpdC1tYXJnaW4tbGVmdD0iMCIgICAgIGZpdC1tYXJnaW4tcmlnaHQ9IjAiICAgICBmaXQtbWFyZ2luLWJvdHRvbT0iMCIgLz4gIDxtZXRhZGF0YSAgICAgaWQ9Im1ldGFkYXRhNyI+ICAgIDxyZGY6UkRGPiAgICAgIDxjYzpXb3JrICAgICAgICAgcmRmOmFib3V0PSIiPiAgICAgICAgPGRjOmZvcm1hdD5pbWFnZS9zdmcreG1sPC9kYzpmb3JtYXQ+ICAgICAgICA8ZGM6dHlwZSAgICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGUvU3RpbGxJbWFnZSIgLz4gICAgICAgIDxkYzp0aXRsZT48L2RjOnRpdGxlPiAgICAgIDwvY2M6V29yaz4gICAgPC9yZGY6UkRGPiAgPC9tZXRhZGF0YT4gIDxnICAgICBpbmtzY2FwZTpncm91cG1vZGU9ImxheWVyIiAgICAgaWQ9ImxheWVyMiIgICAgIGlua3NjYXBlOmxhYmVsPSJMYXllciIgICAgIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMDMuNSwtMTExLjUpIj4gICAgPHBhdGggICAgICAgc29kaXBvZGk6dHlwZT0iYXJjIiAgICAgICBzdHlsZT0iZmlsbDojYzNkY2VkO2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lIiAgICAgICBpZD0icGF0aDI5OTYiICAgICAgIHNvZGlwb2RpOmN4PSIxNjkiICAgICAgIHNvZGlwb2RpOmN5PSIxODYiICAgICAgIHNvZGlwb2RpOnJ4PSIxMzgiICAgICAgIHNvZGlwb2RpOnJ5PSIxMzgiICAgICAgIGQ9Ik0gMzA3LDE4NiBDIDMwNywyNjIuMjE1MyAyNDUuMjE1MywzMjQgMTY5LDMyNCA5Mi43ODQ3MDUsMzI0IDMxLDI2Mi4yMTUzIDMxLDE4NiAzMSwxMDkuNzg0NyA5Mi43ODQ3MDUsNDggMTY5LDQ4IGMgNzYuMjE1MywwIDEzOCw2MS43ODQ3IDEzOCwxMzggeiIgICAgICAgdHJhbnNmb3JtPSJtYXRyaXgoMS4wNjE1OTQyLDAsMCwxLjA2MTU5NDIsNzAuNTkwNTgsNjAuNTQzNDc5KSIgLz4gIDwvZz4gIDxnICAgICBpbmtzY2FwZTpncm91cG1vZGU9ImxheWVyIiAgICAgaWQ9ImxheWVyMyIgICAgIGlua3NjYXBlOmxhYmVsPSJMYXllciMxIiAgICAgc3R5bGU9ImRpc3BsYXk6aW5saW5lIiAgICAgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEwMy41LC0xMTEuNSkiPiAgICA8ZyAgICAgICB0cmFuc2Zvcm09InNjYWxlKC0xLDEpIiAgICAgICBzdHlsZT0iZm9udC1zaXplOjMwMHB4O2ZvbnQtc3R5bGU6bm9ybWFsO2ZvbnQtdmFyaWFudDpub3JtYWw7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LXN0cmV0Y2g6bm9ybWFsO3RleHQtYWxpZ246c3RhcnQ7bGluZS1oZWlnaHQ6MTI1JTtsZXR0ZXItc3BhY2luZzowcHg7d29yZC1zcGFjaW5nOjBweDt3cml0aW5nLW1vZGU6bHItdGI7dGV4dC1hbmNob3I6c3RhcnQ7ZmlsbDojZTZlNmU2O2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lO2ZvbnQtZmFtaWx5Okpvc2VmaW4gU2FuczstaW5rc2NhcGUtZm9udC1zcGVjaWZpY2F0aW9uOkpvc2VmaW4gU2FucyBCb2xkIiAgICAgICBpZD0idGV4dDI5OTIiPiAgICAgIDxwYXRoICAgICAgICAgZD0ibSAtMjg2LjM3NjU3LDMwNy41NTAwMiAwLC0yOC4yIDIxLjksMCAwLC0yNyBjIC0zZS01LC0yNi43OTk4MSA2LjE5OTk2LC00Ni40OTk3OSAxOC42LC01OS4xIDEyLjM5OTkzLC0xMi43OTk3NyAzMC4zOTk5MiwtMTkuNTk5NzYgNTQsLTIwLjQgbCAwLDI3LjMgYyAtMTUuNjAwMDksMS4wMDAyMSAtMjYuODAwMDgsNi4wMDAyMSAtMzMuNiwxNSAtNi44MDAwNyw5LjAwMDE5IC0xMC4yMDAwNiwyMS44MDAxNyAtMTAuMiwzOC40IGwgMCwyNS44IDM5LjYsMCAwLDI4LjIgLTM5LjYsMCAwLDk1LjYgLTI4LjgsMCAwLC05NS42IC0yMS45LDAiICAgICAgICAgaWQ9InBhdGg0MDQ2IiAgICAgICAgIGlua3NjYXBlOmNvbm5lY3Rvci1jdXJ2YXR1cmU9IjAiICAgICAgICAgc29kaXBvZGk6bm9kZXR5cGVzPSJjY2NzY2Njc3NjY2NjY2NjYyIgLz4gICAgPC9nPiAgICA8ZyAgICAgICBzdHlsZT0iZm9udC1zaXplOjMwMHB4O2ZvbnQtc3R5bGU6bm9ybWFsO2ZvbnQtdmFyaWFudDpub3JtYWw7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LXN0cmV0Y2g6bm9ybWFsO3RleHQtYWxpZ246c3RhcnQ7bGluZS1oZWlnaHQ6MTI1JTtsZXR0ZXItc3BhY2luZzowcHg7d29yZC1zcGFjaW5nOjBweDt3cml0aW5nLW1vZGU6bHItdGI7dGV4dC1hbmNob3I6c3RhcnQ7ZmlsbDojZmZmZmZmO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lO2ZvbnQtZmFtaWx5Okpvc2VmaW4gU2FuczstaW5rc2NhcGUtZm9udC1zcGVjaWZpY2F0aW9uOkpvc2VmaW4gU2FucyBCb2xkIiAgICAgICBpZD0idGV4dDM3NjYiICAgICAgIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0wLjI1LDApIj4gICAgICA8cGF0aCAgICAgICAgIGQ9Im0gMjE0LjEyMzQzLDMwNy41NTAwMiAwLC0yOC4yIDIxLjksMCAwLC0yNyBjIC0zZS01LC0yNi43OTk4MSA2LjE5OTk2LC00Ni40OTk3OSAxOC42LC01OS4xIDEyLjM5OTkzLC0xMi43OTk3NyAzMC4zOTk5MiwtMTkuNTk5NzYgNTQsLTIwLjQgbCAwLDI3LjMgYyAtMTUuNjAwMDksMS4wMDAyMSAtMjYuODAwMDgsNi4wMDAyMSAtMzMuNiwxNSAtNi44MDAwNyw5LjAwMDE5IC0xMC4yMDAwNiwyMS44MDAxNyAtMTAuMiwzOC40IGwgMCwyNS44IDM5LjYsMCAwLDI4LjIgLTM5LjYsMCAwLDk4LjEgLTI4LjgsMCAwLC05OC4xIC0yMS45LDAiICAgICAgICAgaWQ9InBhdGg0MDQzIiAgICAgICAgIGlua3NjYXBlOmNvbm5lY3Rvci1jdXJ2YXR1cmU9IjAiICAgICAgICAgc29kaXBvZGk6bm9kZXR5cGVzPSJjY2NzY2Njc3NjY2NjY2NjYyIgLz4gICAgPC9nPiAgPC9nPiAgPGcgICAgIGlua3NjYXBlOmdyb3VwbW9kZT0ibGF5ZXIiICAgICBpZD0ibGF5ZXI0IiAgICAgaW5rc2NhcGU6bGFiZWw9IkxheWVyIzIiICAgICBzb2RpcG9kaTppbnNlbnNpdGl2ZT0idHJ1ZSIgICAgIHN0eWxlPSJkaXNwbGF5Om5vbmUiICAgICB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTAzLjUsLTExMS41KSI+ICAgIDxnICAgICAgIHRyYW5zZm9ybT0ibWF0cml4KC0xLjA5NTMwNDksMCwwLDAuOTEyOTg3ODEsLTIuNzQ1MDU1ZS02LDApIiAgICAgICBzdHlsZT0iZm9udC1zaXplOjI3My44OTYzNjIzcHg7Zm9udC1zdHlsZTpub3JtYWw7Zm9udC12YXJpYW50Om5vcm1hbDtmb250LXdlaWdodDpib2xkO2ZvbnQtc3RyZXRjaDpub3JtYWw7dGV4dC1hbGlnbjpzdGFydDtsaW5lLWhlaWdodDoxMjUlO2xldHRlci1zcGFjaW5nOjBweDt3b3JkLXNwYWNpbmc6MHB4O3dyaXRpbmctbW9kZTpsci10Yjt0ZXh0LWFuY2hvcjpzdGFydDtmaWxsOiNmZmZmZmY7ZmlsbC1vcGFjaXR5OjE7c3Ryb2tlOm5vbmU7ZGlzcGxheTppbmxpbmU7Zm9udC1mYW1pbHk6Sm9zZWZpbiBTYW5zOy1pbmtzY2FwZS1mb250LXNwZWNpZmljYXRpb246Sm9zZWZpbiBTYW5zIEJvbGQiICAgICAgIGlkPSJ0ZXh0Mjk5Mi01Ij4gICAgICA8cGF0aCAgICAgICAgIGQ9Im0gLTI2MS4yMzAwNywyOTMuMTM1MDcgMCwtMjUuNzQ2MjYgMTkuOTk0NDMsMCAwLC0yNC42NTA2NyBjIC0zZS01LC0yNC40Njc5MSA1LjY2MDQ5LC00Mi40NTM3NSAxNi45ODE1NywtNTMuOTU3NTggMTEuMzIxLC0xMS42ODYwNCAyNy43NTQ3NiwtMTcuODk0MzUgNDkuMzAxMzUsLTE4LjYyNDk1IGwgMCwyNC45MjQ1NiBjIC0xNC4yNDI2OSwwLjkxMzE4IC0yNC40NjgxNCw1LjQ3ODEyIC0zMC42NzYzOSwxMy42OTQ4MiAtNi4yMDgzOCw4LjIxNzA2IC05LjMxMjUzLDE5LjkwMzI5IC05LjMxMjQ4LDM1LjA1ODc0IGwgMCwyMy41NTUwOCAzMC42NzYzOSwwIDAsMjUuNzQ2MjYgLTMwLjY3NjM5LDAgMCw5MC45MzM1OSAtMjYuMjk0MDUsMCAwLC05MC45MzM1OSAtMTkuOTk0NDMsMCIgICAgICAgICBpZD0icGF0aDMwODIiICAgICAgICAgaW5rc2NhcGU6Y29ubmVjdG9yLWN1cnZhdHVyZT0iMCIgICAgICAgICBzb2RpcG9kaTpub2RldHlwZXM9ImNjY3NjY2Nzc2NjY2NjY2NjIiAvPiAgICA8L2c+ICAgIDxnICAgICAgIHRyYW5zZm9ybT0ibWF0cml4KDEuMDk1MzA0OSwwLDAsMC45MTI5ODc4MSwtMi43NDUwNTVlLTYsMCkiICAgICAgIHN0eWxlPSJmb250LXNpemU6MjczLjg5NjM2MjNweDtmb250LXN0eWxlOm5vcm1hbDtmb250LXZhcmlhbnQ6bm9ybWFsO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zdHJldGNoOm5vcm1hbDt0ZXh0LWFsaWduOnN0YXJ0O2xpbmUtaGVpZ2h0OjEyNSU7bGV0dGVyLXNwYWNpbmc6MHB4O3dvcmQtc3BhY2luZzowcHg7d3JpdGluZy1tb2RlOmxyLXRiO3RleHQtYW5jaG9yOnN0YXJ0O2ZpbGw6I2ZmZmZmZjtmaWxsLW9wYWNpdHk6MTtzdHJva2U6bm9uZTtkaXNwbGF5OmlubGluZTtmb250LWZhbWlseTpKb3NlZmluIFNhbnM7LWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjpKb3NlZmluIFNhbnMgQm9sZCIgICAgICAgaWQ9InRleHQzNzY2LTMiPiAgICAgIDxwYXRoICAgICAgICAgZD0ibSAxOTUuMjYzODIsMjkzLjEzNTA3IDAsLTI1Ljc0NjI2IDE5Ljk5NDQ0LDAgMCwtMjQuNjUwNjcgYyAtM2UtNSwtMjQuNDY3OTEgNS42NjA0OSwtNDIuNDUzNzUgMTYuOTgxNTcsLTUzLjk1NzU4IDExLjMyMSwtMTEuNjg2MDQgMjcuNzU0NzYsLTE3Ljg5NDM1IDQ5LjMwMTM1LC0xOC42MjQ5NSBsIDAsMjQuOTI0NTYgYyAtMTQuMjQyNjksMC45MTMxOCAtMjQuNDY4MTUsNS40NzgxMiAtMzAuNjc2NCwxMy42OTQ4MiAtNi4yMDgzNyw4LjIxNzA2IC05LjMxMjUzLDE5LjkwMzI5IC05LjMxMjQ3LDM1LjA1ODc0IGwgMCwyMy41NTUwOCAzMC42NzYzOSwwIDAsMjUuNzQ2MjYgLTMwLjY3NjM5LDAgMCw5MC45MzM1OSAtMjYuMjk0MDUsMCAwLC05MC45MzM1OSAtMTkuOTk0NDQsMCIgICAgICAgICBpZD0icGF0aDMwNzkiICAgICAgICAgaW5rc2NhcGU6Y29ubmVjdG9yLWN1cnZhdHVyZT0iMCIgICAgICAgICBzb2RpcG9kaTpub2RldHlwZXM9ImNjY3NjY2Nzc2NjY2NjY2NjIiAvPiAgICA8L2c+ICA8L2c+PC9zdmc+);
    //background-image: url('../img/fedef-a-0.1_res_min.svg');
    background-size: 100%;
  }
  #nome{
    margin-bottom: 50px;
    font-size: 180%;
    text-align: center;
    text-transform: lowercase;
    color: #1a588e;
    &:hover{
      font-weight: 300;
    }
  }
  ul{
    margin: 0;
    padding: 0;
    padding-right: 20px;
    list-style-type: none;
    a:hover{
      font-weight: bold;
    }
  }
  ul.menu{
    padding: 0;
    font-size: 150%;
    li{
      margin-bottom: 10px;
    }
    a.active{
      font-size: 150%;
      span.list-icon{
        background-color: #C3DCED;
      }
    }
    span.list-icon{
      display: inline-block;
      position: relative;
      left: 10px;
      top: 2px;
      border: 3px solid #C3DCED;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #FFFFFF;

    }
  }
  footer{
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    ul#contatti{
      li{
        margin-top: 15px;
        text-transform: uppercase;
        color: #6db0eb;
        p{
          margin: 5px 0;
        }
        p:last-child{
          color: #1a588e;
        }
      }
      li#email{
        p:first-child{
          text-transform: uppercase;
        }
        p:last-child{
          text-transform: lowercase;
        }
      }
      li#tel{
        p:first-child{
          font-weight: bold;
        }
        p:last-child{
          font-weight: normal;
        }
      }
    }
    a{
      height:11px;
      font-weight: bold;
      text-shadow: none;
      color: #6db0eb;
    }
    a:hover{
      font-weight: bold;
      color: #1a588e;
      *text-shadow: 3px 3px 3px #0A35B5, -3px -3px 3px #0A35B5;
    }
  }
}
